@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Database application</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Course", "Index", "Cours")</h2>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Departments", "Index", "Departments")</h2>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Instructors", "Index", "Instructors")</h2>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Registrations", "Index", "Registrations")</h2>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Students", "Index", "Students")</h2>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("StudyTerms", "Index", "StudyTerms")</h2>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("TeachingAssignments", "Index", "TeachingAssignments")</h2>

    </div>
</div>